<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add new product</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body style="background-color: #eee;">
<div class="container">


<section class="vh-100">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Add new product</h2>
				
				<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${message == 'success'}">
				  New product has been added successfully. Check in <a href="/">home page</a>
				  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				
              <form th:action="@{/admin/addproduct}" method="post"
			th:object="${product}" enctype="multipart/form-data">

                <div class="form-outline mb-4">
                  <input type="text" th:field="*{productName}" id="productName" class="form-control form-control-lg" />
                  <label class="form-label" for="productName">Product name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" th:field="*{productPrice}" id="productPrice" class="form-control form-control-lg" />
                  <label class="form-label" for="productPrice">Product price</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="file" name="file" id="productImage" class="form-control form-control-lg" />
                  <label class="form-label" for="productImage">Product image</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" th:field="*{inStock}" id="inStock" class="form-control form-control-lg" />
                  <label class="form-label" for="inStock">In stock</label>
                </div>

           
                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-primary btn-lg">Add product</button>
                </div>

          

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>