<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Orders</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
</head>
<body style="background-color: #eee;">
<div class="container">
<table class="table table-hover">
 <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col">Date</th>
      <th scope="col">Amount</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="order: ${orders}">
    	<td th:text="${order.customerName}"/>
    	<td th:text="${order.customerMobile}"/>
    	<td th:text="${order.customerAddress}"/>
    	<td th:text="${order.date}"/>
    	<td th:text="${order.amount}"/>
    	<td><button th:id="${order.orderId}" class="btn btn-primary addtocart">Details</button></td>
    </tr>
  </tbody>
</table>
</div>

</body>
</html>