<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Shopping cart</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css" />
</head>
<body style="background-color: #eee;">


	<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card shopping-cart" style="border-radius: 15px;">
          <div class="card-body text-black">

            <div class="row">
              <div class="col-lg-6 px-5 py-4">

                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Your products</h3>

                <div class="d-flex align-items-center mb-5" th:each="item: ${items}">
                  <div class="flex-shrink-0">
                    <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/13.webp"
                      class="img-fluid" style="width: 150px;" alt="Generic placeholder image"> -->
                      
                      <img th:src="@{'/image?id='+ ${item.product.productId}}"
                      class="img-fluid" style="width: 150px;" alt="Generic placeholder image">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <a href="#!" class="float-end text-black"><i class="fa fa-times"></i></a>
                    <h5 class="text-primary" th:text="${item.product.productName}"><!-- Samsung Galaxy M11 64GB --></h5>
                    <!-- <h6 style="color: #9e9e9e;">Color: white</h6> -->
                    <div class="d-flex align-items-center">
                      <p class="fw-bold mb-0 me-5 pe-3" th:text="${item.subtotal}"><!-- 799$ --></p>
                      <!-- <div class="def-number-input number-input safari_only">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          class="minus"></button>
                        <input class="quantity fw-bold text-black" min="0" name="quantity" value="1"
                          type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          class="plus"></button>
                      </div> -->
                    </div>
                  </div>
                </div>

                <!-- <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/6.webp"
                      class="img-fluid" style="width: 150px;" alt="Generic placeholder image">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <a href="#!" class="float-end text-black"><i class="fa fa-times"></i></a>
                    <h5 class="text-primary">Headphones Bose 35 II</h5>
                    <h6 style="color: #9e9e9e;">Color: Red</h6>
                    <div class="d-flex align-items-center">
                      <p class="fw-bold mb-0 me-5 pe-3">239$</p>
                      <div class="def-number-input number-input safari_only">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          class="minus"></button>
                        <input class="quantity fw-bold text-black" min="0" name="quantity" value="1"
                          type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          class="plus"></button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/1.webp"
                      class="img-fluid" style="width: 150px;" alt="Generic placeholder image">
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <a href="#!" class="float-end text-black"><i class="fa fa-times"></i></a>
                    <h5 class="text-primary">iPad 9.7 6-gen WiFi 32GB</h5>
                    <h6 style="color: #9e9e9e;">Color: rose pink</h6>
                    <div class="d-flex align-items-center">
                      <p class="fw-bold mb-0 me-5 pe-3">659$</p>
                      <div class="def-number-input number-input safari_only">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                          class="minus"></button>
                        <input class="quantity fw-bold text-black" min="0" name="quantity" value="2"
                          type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                          class="plus"></button>
                      </div>
                    </div>
                  </div>
                </div> -->

                <hr class="mb-4" style="height: 2px; background-color: #1266f1; opacity: 1;">

                <!-- <div class="d-flex justify-content-between px-x">
                  <p class="fw-bold">Discount:</p>
                  <p class="fw-bold">95$</p>
                </div> -->
                <div class="d-flex justify-content-between p-2 mb-2" style="background-color: #e1f5fe;">
                  <h5 class="fw-bold mb-0">Total:</h5>
                  <h5 class="fw-bold mb-0" th:text="${total}"></h5>
                </div>
                
                <div class="d-flex justify-content-between p-2 mb-2">
                  <a href="/home" class="fw-bold mb-0">Back to home to restart your order</a>
                </div>

              </div>
              <div class="col-lg-6 px-5 py-4">

                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">Address</h3>

                <form class="mb-5" id="customerInformation">

					<div class="row">
                    <div class="col-md-6 mb-5">
                      <div class="form-outline">
                        <input type="text" id="customerName" name="customerName" class="form-control form-control-lg" placeholder="John Doe"
                          required="required" />
                        <label class="form-label" for="customerName">Name</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-5">
                      <div class="form-outline">
                        <input type="text" id="customerMobile" name="customerMobile" class="form-control form-control-lg"
                          placeholder="9876543210" required="required" />
                        <label class="form-label" for="customerMobile">Mobile</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-outline mb-5">
                    <input type="text" id="customerAddress" name="customerAddress" class="form-control form-control-lg"
                      placeholder="address"  required="required"/>
                    <label class="form-label" for="customerAddress">Address</label>
                  </div>

				<input type="hidden" name="amount" id="orderTotal" th:value="${total}"/>

                 <!--  <div class="form-outline mb-5">
                    <input type="text" id="typeName" class="form-control form-control-lg"
                      value="John Smith" />
                    <label class="form-label" for="typeName">Name on card</label>
                  </div> -->

 

                  	<div class="alert alert-warning">
					  <strong>Sorry!</strong> We accept only COD as of now and working on to accept other payment(credit/debit cards) options.
					</div>

                  <button type="submit" class="btn btn-primary btn-block btn-lg">Place your order</button>

                  <!-- <h5 class="fw-bold mb-5" style="position: absolute; bottom: 0;">
                    <a href="/"><i class="fa fa-angle-left me-2"></i>Back to shopping</a>
                  </h5> -->

                </form>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js" ></script>
<script>

$(document).ready(function(){
    $('#customerInformation').on('submit', function(e){
        e.preventDefault();
        var customerName = $("#customerName").val();
        var customerMobile = $("#customerMobile").val();
        var customerAddress = $("#customerAddress").val();
        var amount = $("#orderTotal").val();
        //var formData = new FormData(this);

        
       // alert(form)
        //var url = form.attr('action');
        $.ajax({
            type: "POST",
            url: "/placeOrder",
            data: "customerName=" + customerName + "&customerMobile=" + customerMobile + "&customerAddress=" + customerAddress + "&amount=" + amount,
            success: function(data) {
                  
                // Ajax call completed successfully
                
                swal({
                    title: "Thanks",
                    text: "We will deliver your order within 2 to 3 working days",
                    type: "success"
                }, function() {
                    window.location = "/home";
                });
                
            },
            error: function(data) {
                  
                // Some error in ajax call
                alert("some Error");
            }
        });
    });
});

</script>
</body>
</html>